.collapse {
  transform: translateX(-70px);

  &:hover {
    transform: translateX(0px);
  }

  nav {
    background: #021222;
    height: 100vh;
    width: 70px;
    position: absolute;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {

        a {
          color: #fff;
          padding: 20px;
          display: block;
        }

        .activated {
          background-color: #00a8ff;
        }
      }
    }
  }
}

.press {
  position: absolute;
  transform: translateX(70px);
}
